button {
  display: inline-block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding: 0 1.5rem;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  font-family: "Paytone One", sans-serif;
  letter-spacing: 0.8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
